# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
*.json
*.local
*.test
*.yml
*.env
!*.keep
!*.sample


# dependencies
frontend/node_modules
frontend/.pnp
frontend.pnp.js
frontend/src/lib/firebase/config.ts

# testing
frontend/coverage

# production
frontend/build

# misc
.DS_Store
configs/*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

bin/attendance-management
!app.yml
docker/mysql/*

# golangci
!.golangci.yml

# mock
**/mock/*