@import "../../base/base"

.rounded-button
  text-align: center
  font-size: 17px
  display: block
  width: 200px
  padding: 8px 12px
  margin: 24px auto
  line-height: 30px
  border-radius: 25px
  @media (min-width: $medium)
    display: inline-block
    margin: 24px 5px

.blue-button
  color: #fff
  background-color: #1da1f2

.navy-button
  color: #fff
  background-color: #1877f2

.black-button
  color: #fff
  background-color: black
