@import "../../base/base"

.attendance
  width: 300px
  margin: 0 auto
  @media screen and (min-width: $medium)
    width: 700px

  &-list
    padding: 0
    text-decoration: none
    border-top: solid 1px grey
