@import "../../styles/variables"
.timer-section
  text-align: center

  &__textarea
    display: block
    height: 100px
    width: 270px
    margin: 0 auto
    padding: 8px 8px 4px
    resize: none

    border: 1px solid #ccc
    border-radius: 5px
    @media screen and (min-width: $large)
      width: 500px

    &:focus
      outline: transparent none


  &__date
    font-size: 30px
    @media screen and (min-width: $medium)
      font-size: 35px

  &__timestamp
    font-size: 50px
    @media screen and (min-width: $medium)
      font-size: 55px
